body 
{
  background:#E9E9E9;
  padding:0px;
  margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav {
  background: #dddddd
}
nav a{
  padding: 1ex
}
nav a.active{
  background: #ffffaa
}

